[mysqld]
default-authentication-plugin=mysql_native_password

# タイムゾーンの設定
default-time-zone = SYSTEM
log_timestamps = SYSTEM

character-set-server=utf8mb4
collation-server=utf8mb4_ja_0900_as_cs
skip-character-set-client-handshake

# auto detect memory space(added on mysql8)
innodb_dedicated_server=ON
# manual memory space
# innodb_buffer_pool_size=128M
# innodb_log_file_size=48M

innodb_log_buffer_size=8M

# innodb_data_home_dir=/var/lib/mysql/
# innodb_log_group_home_dir=/var/lib/mysql/

innodb_file_per_table
innodb_data_file_path=ibdata1:1G:autoextend:max:100G
innodb_autoextend_increment=256
innodb_doublewrite = 1
innodb_flush_log_at_trx_commit=1
innodb_lock_wait_timeout=50

binlog_format=2
log-bin=bin-log
log_bin_index=bin.list
max_binlog_size=256M

# set backup_cycle + mergin
# 2day(as sec)
binlog_expire_logs_seconds=172800

slow_query_log=1
log-queries-not-using-indexes=1
long_query_time=0.5
slow_query_log_file=slow_query.log
